<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>引き継ぎ一覧</title>
<form th:action="@{/logout}" method="post" style="display:inline;">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<button type="submit">ログアウト</button>
</form>
</head>
<body>
<h1>引き継ぎ一覧</h1>
<p><a th:href="@{/handoff/new}">＋ 新規作成</a></p>
	<table border="1" cellpadding="0" cellspacing="0">
		<tr>
			<th>タイトル</th>
			<th>内容</th>
			<th>作成者</th>
			<th>作成日時</th>
			<th>ステータス</th>
			<th></th>
		</tr>
		<tr th:each="handoff : ${handoffs}">
			<td th:text="${handoff.title}"></td>
			<td th:text="${handoff.content}"></td>
			<td th:text="${handoff.createdByName}"></td>
			<td th:text="${handoff.createdAt}"></td>
			<td th:text="${handoff.readFlag == 1 ? '既読' : '未読'}"></td>
			<td>
				<form th:action="@{/handoff/{id}/read(id=${handoff.id})}" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<button type="submit" th:disabled="${handoff.readFlag == 1}">
					 既読にする
					</button>
				</form>
			</td>
		</tr>
	</table>
</body>
</html>