<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.handoff.repository.UserMapper">

  <select id="selectByLoginId" resultType="com.example.handoff.domain.model.User">
    SELECT
      id,
      login_id AS loginId,
      password_hash AS passwordHash,
      display_name AS displayName,
      role
    FROM users
    WHERE login_id = #{loginId}
  </select>
  <select id="selectIdByLoginId" resultType="long">
	  SELECT id
	  FROM users
	  WHERE login_id = #{loginId}
  </select> 
  
  <insert id="insertUser">
	  INSERT INTO users (
	    login_id,
	    display_name,
	    password_hash,
	    created_at
	  )
	  VALUES (
	    #{loginId},
	    #{displayName},
	    #{passwordHash},
	    NOW()
	  )
  </insert>
  
</mapper>
